<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link th:href="@{/css/signin.css}" rel="stylesheet">

  <title>Login</title>
</head>

<body class="text-center">
  <form class="form-signin" th:action="@{/account/login}" method="post">
    <a th:href="@{/}"><img class="mb-4" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt=""
        width="72" height="72"></a>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
      Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="alert alert-primary" role="alert">
      You have been logged out.
    </div>
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <!-- <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

<!--    <div>-->
<!--      <a href="https://kauth.kakao.com/oauth/authorize?client_id=91e81f913533b4cab6ce6fd589cdbfd8&redirect_uri=http://localhost:8090/account/kakao/login&response_type=code" class="btn btn-lg btn-block">-->
<!--        <img src="/img/kakao_login_medium_wide.png" alt="카카오 로그인" />-->
<!--      </a>-->
<!--    </div>-->

    <br>
      <!-- 스프링 시큐리티에서 기본 제공하는 URL - 별도 컨트롤러 작성 필요 없음 -->
    <div th:if="${#strings.isEmpty(username)}">
      <a href="/oauth2/authorization/google" class="btn btn-lg btn-block btn-success active" role="button">Google Login</a>
    </div>

    <br>

    <h1>Kakao Login Test</h1>

    <span th:if="${userId==null}">
      <a href="https://kauth.kakao.com/oauth/authorize?client_id=4f4c8f81b799f2fbec85b68510dd443d&redirect_uri=http://localhost:5000/account/kakao&response_type=code">
        <img src="/img/kakao_login_medium_wide.png">
      </a>
    </span>

    <span th:if="${userId!=null}">
			<a type="button" th:href="@{/account/logout}"value="로그아웃">
	</span>

    <p class="mt-5 mb-3 text-muted">아직 회원이 아니신가요?</p>
    <a type="button" class="btn btn-outline-primary btn-block" th:href="@{/account/register}">회원가입</a>
    <p class="mt-5 mb-3 text-muted">&copy; Eonion</p>
  </form>


<!--  <li th:text="|인가코드 = ${code}|">code</li>-->
<!--  <li th:text="|유효토큰 = ${access_token}|">code</li>-->
<!--  <li th:text="|사용자정보 = ${userInfo}|">code</li>-->
<!--  <li th:text="|동의정보 = ${agreementInfo}|">code</li>-->
<!--  <a href="https://kauth.kakao.com/oauth/logout?client_id=91e81f913533b4cab6ce6fd589cdbfd8&logout_redirect_uri=http://localhost:8090/account/kakao/login">로그아웃</a>-->

<!--  <c:if test="${sessionScope.mvo eq null }">-->
<!--    <form action="" method="post">-->
<!--      아이디:<input name="id"/><br/>-->
<!--      비밀번호:<input type="password"name="pw"/><br/>-->
<!--      <input type="button" value="login"/>-->
<!--    </form>-->
<!--    <a href="https://kauth.kakao.com/oauth/authorize?client_id={REST_API_KEY}&redirect_uri={REDIRECT_URI}&response_type=codee">-->
<!--      <img alt="카카오로그인버튼" src="resources/img/kakao.png"/>-->
<!--    </a>-->
<!--  </c:if>-->


  <footer th:replace="fragments/common :: footer"></footer>
</body>

</html>